@charset "UTF-8";

html {
	background-color: #FFF;
	font-family: sans-serif;
}

.header {
	background-color: #000;
}
.header .logo {
	color: #FFF;
	font-family: arial black;
	font-size: 40px;
	background-color: #000;
	margin-left: 10px;
}
